<div class="container-fluid ">
  <div class="row">
    <div class="col-xl-12 navbar navbar-dark bg-dark text-light">
       <nav class="">USER MANAGEMENT</nav>
       <div class="col-md-4 navbar d-flex flex-row ">
        <a class="btn btn-info" [routerLink]="'Login'">Login</a>
        <a class="btn btn-info" [routerLink]="'Register'">Register User</a>
        <a class="btn btn-info" [routerLink]="'Forgot'">Forgot Password</a>
        <a class="btn btn-info" [routerLink]="'Unlock'">Unlock Account</a>
      </div>
    </div>
   </div>
</div>
<router-outlet></router-outlet>
