 <div class="container-fluid">
    <div class="row">
        <div class="col-xs-6 col-md-6 col-xl-4">
            <form  class="form-group text-center border" [formGroup]="pass">
                <h3>Forgot Password</h3>
                <label class="form-label" >Enter Email</label>
                <input type="email" class="form-control" name="emailId" formControlName="emailId" placeholder="Enter email" >
                <br>
                <button type="button" class="align-center btn btn-primary" (click)="getpassword()" >Submit</button>
            </form>
        </div>
    </div>
</div>